@page
@model webcuidadop.App.frotend.Pages.cuidadosModel
@{
}
<h1>CUIDADOS Y RECOMENDACIONES</h1>
<br>
<h2>Formulario de Registro</h2>
<br>
<form action="">
    <label>Descripcion del cuidado:  </label>
    <input type="text">
    <br>
    <br>
    <input type="submit" value="Guardar Datos">
    <br>
</form>