@page
@model webcuidadop.App.frotend.Pages.historiasModel
@{
}
<h1>HISTORIAS CLINICAS VETERINARIA PORCINA</h1>
<br>
<h2>Formulario de H¡storia</h2>
<br>
<form action="">
    <label>Fecha :  </label>
    <input type="text">
    <br>
    <label>Diagnostico:  </label>
    <input type="text">
    <br>
    <br>
    <input type="submit" value="Guardar Datos">
    <br>
</form>