@page
@model webcuidadop.App.frontend.Pages.integrantesModel
@{
}
<h1>EQUIPO DE TRABAJO DE PROYECTO</h1>
<h2>Integrantes</h2>
<ol>
    <li>Zoraya Pineda Araque</li>
    <li>Saray Padilla Herrera</li>
    <li>Edison Alexis Torres </li>
    <li>Hector Alonso Pinzon</li>
    <li>Cristian Isaza</li>
</ol>

