@page
@model webcuidadop.App.frotend.Pages.registrocModel
@{
}
<h1>REGISTRE UN NUEVO CERDITO</h1>
<br>
<h2>Formulario de Registro</h2>
<br>
<form action="">
    <label>Nombre del Certito </label>
    <input type="text">
    <br>
    <label>Color </label>
    <input type="text">
    <br>
    <label>Especie </label>
    <input type="text">
    <br>
    <label>Raza </label>
    <input type="text">
    <br>
    <br>
    <input type="submit" value="Guardar Datos">
    <br>
</form>