@page
@model webcuidadop.App.frotend.Pages.registropropModel
@{
}
<h1>REGISTRO PROPIETARIOS</h1>
<br>
<h2>Formulario de Registro</h2>
<br>
<form action="">
    <label>Numero de Cedula:  </label>
    <input type="text">
    <br>
    <label>Nombres:  </label>
    <input type="text">
    <br>
    <label>Apellidos:  </label>
    <input type="text">
    <br>
    <label>Direccion:  </label>
    <input type="text">
    <br>
    <label>Numero Telefono:  </label>
    <input type="text">
    <br>
    <label>Correo Electronico:  </label>
    <input type="text">
    <br>
    <label>Ciudad:  </label>
    <input type="text">
    <br>
    <br>
    <input type="submit" value="Guardar Datos">
    <br>
</form>