@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">VETERINARIA PORCINA - CICLO 3 - G46 - G4</h1>
    <p>Los cerdos criados deben recibir una alimentación saludable. Para el bienestar de los cerdos, no se trata
        únicamente de la cantidad, sino también de ofrecer nutrientes en la proporción adecuada para el desarrollo de
        los animales. Obviamente, el volumen de la ración va a depender de la edad y de la fase de producción de los
        animales. Cerdas y lechones, por ejemplo, tienen necesidades diferentes de las de un cerdo en fase de terminal.
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
